// ======================= Color Palette ===========================
$color-primary:      #1e3a8a;   // Deep Blue
$color-primary-light:#3b4fb0;   // Lighter blue (optional highlight)
$color-secondary:    #ffffff;   // Pure white
$color-bg-light:     #f3f4f6;   // App background grey
$color-bg-table:     #f2f2f2;   // Light grey for main content
$color-accent:       #fbbf24;   // Golden accent (hover/highlight)
$color-danger:       #ff0000;   // Red for warnings
$color-muted:        #999999;   // Disabled text

// ======================= Base ===========================
html,
body {
  height: 100% !important;
  margin: 0 !important;
}

body > .d-flex {        /* ✅ The Bootstrap flex wrapper */
  min-height: 100vh !important;    /* or height:100% if you prefer */
  display: flex !important;  
  flex-direction: row !important;      /* ensure it's a flex container */
}
.tilt-neon-body {
  background-color: $color-bg-light;
  color: #111827;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
}

.btn-outline-dark{
  color:$color-primary !important;
  font-weight:600;
  border: 3px solid $color-primary;
  &:hover {
    border:3px solid #f3f4f6;
    color:$color-secondary !important;
    background-color: $color-accent;
    font-weight:normal;
  }
}

.text-grey { color:$color-muted; }

.text-secondary { color: $color-primary !important; }

td, th { text-align: left !important; }

input[type=text],
input[type=number],
select {
  border: 1px solid $color-primary !important;
  &:focus {
    border-color: $color-primary !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
label.error{
  color:$color-danger;
}

input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover {
  cursor: not-allowed;
}

// ======================= Sidebar ===========================
/* ----- Collapsed sidebar: icons only ----- */
/* ===== Collapsible Sidebar ===== */
#sidebar{
  margin-top: 30px; 
  width: 180px; 
  color: $color-secondary; 
  background-color: 
  $color-primary;
  transition: all 0.3s ease;
  z-index: 1000;
  ul{
    li{
      i {
        color: $color-secondary;
        min-width: 24px;
        text-align: center;
      }
      a{
        border-radius: 0; 
        background-color: 
        $color-primary; 
        color: #d1d5db;
        &.active { 
          
          background-color: $color-accent; 
          color: $color-primary; 
          i { 
            color: $color-primary; 
          } 
        } 
        &:hover 
        { 
          color: $color-primary; 
          background-color: $color-secondary; 
          i { 
            color: $color-primary; 
            } 
        }
      }
    }
  }
  &.no-transition { transition: none !important; }
}
#sidebar.collapsed {
  width: 60px;               
  overflow-x: hidden;
}

#sidebar .nav-link {
  display: flex;
  align-items: center;
  
  span {
    transition: opacity 0.2s ease;
  }
}

/* Hide labels when collapsed */
#sidebar.collapsed .nav-link span {
  opacity: 0;
  pointer-events: none;
  width: 0;
  overflow: hidden;
}

#sidebar.collapsed:not(:hover) {
  .nav-link.active {
    background: $color-primary !important;   
   i {
    color:$color-accent !important;
      background-color: rgba(255,255,255, 0.2); 
      border-radius: 50% !important;
                  
      transition: background-color 0.2s ease;
   }
  }
}

/* Optional hover-expand effect */
#sidebar.collapsed:hover {
  width: 180px;
}

#sidebar.collapsed:hover .nav-link span {
  opacity: 1;
  width: auto;
  pointer-events: auto;
}

/* Shift main body accordingly */








#logout { margin-top: 300px; }

// ======================= Main Content ===========================

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;              /* let it grow inside .d-flex   */
  min-height: 100%;
  background-color: $color-bg-table;
  transition: all 0.3s;

  table {
    background-color: $color-secondary;
    padding: 15px;
    border-radius: 20px;
  }
}
#main_body {
  flex: 1;
  margin-left:60px;
  transition: all 0.3s;
  &.collapsed { 
    margin-left: 200px; 
  }
}
.modal-title { color: $color-primary; }
.border-dark { border-color: $color-primary !important; }
.staus-click { cursor: pointer !important; }

// ======================= Header ===========================
#header {
  background: $color-primary;
  color: $color-secondary;
  margin-bottom: 80px;
  transition: all 0.3s ease;
}

// ======================= Buttons ===========================
.btn-dark {
  background-color: $color-primary;
  border: none;
  &:hover {
    background-color: $color-accent;
    color: $color-secondary;
    transition: 0.3s;
  }
}
#clear_filter_value:hover {
  color: #000;
}
.btn-close-custom {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: $color-danger;
  &:hover {
    transform: scale(1.1);
  }
}

// ======================= DataTables ===========================
.dataTables_wrapper .dataTables_paginate {
  margin-right: 10px !important;

  .paginate_button {
    margin-bottom: 3px !important;
    background-color: $color-secondary !important;
    color: $color-primary !important;
    padding: 6px 12px;
    border-radius: 4px;

    &.current,
    &.current:hover {
      background-color: $color-primary !important;
      color: $color-secondary !important;
    }

    &.previous,
    &.next {
      color: $color-primary !important;
      padding: 6px 14px;
      border-radius: 4px;

      &:hover {
        background-color: $color-accent !important;
        color: $color-secondary !important;
      }
    }

    &.disabled,
    &.disabled:hover {
      color: $color-muted !important;
      background-color: $color-secondary !important;
      cursor: not-allowed;
    }

    // Hover for inactive numbers
    &:hover:not(.current):not(.disabled) {
      background-color: $color-accent !important;
      color: $color-secondary !important;
    }
  }
}
table.dataTable td.dataTables_empty {
  text-align: center !important;    
  
}

// ======================= Loader ===========================
#loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; // hidden by default
}

.circle-loader {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 8px solid #e6e6e6;   // light grey arc
  border-top: 8px solid #3498db;
  border-bottom: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// ======================= Dashboard Cards ===========================
.dashboard-card {
  background: $color-secondary;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
  text-align: center;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.ui-autocomplete {
   max-height: 350px;
   overflow-y: auto;
   overflow-x: hidden;
  list-style-type: none;
  border: 1px solid black;
    padding: 0px;
    border-radius: 5px;
    position: absolute;        /* make sure it is out of normal flow */
    z-index: 9999; 
    background-color:$color-secondary;
}
.ui-autocomplete li.ui-menu-item {
   padding: 5px 1em 5px .4em!important;
   text-transform: capitalize;
   border-bottom: 1px solid #999999;
   padding: 0px !important;
}
.ui-autocomplete li.ui-menu-item .ui-menu-item-wrapper {
   padding: 5px 1em 5px .4em !important;
}
.ui-autocomplete li .ui-state-active {
   border: none !important;
   background-color: $color-accent;
   color:$color-secondary;
   cursor:pointer;
}
ui-helper-hidden-accessible{
  display:none;
}